USE [master]
GO
/****** Object:  Database [CleverPocket]    Script Date: 27/03/2021 11:55:32 ******/
CREATE DATABASE [CleverPocket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CleverPocket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CleverPocket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CleverPocket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CleverPocket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CleverPocket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CleverPocket]
GO
/****** Object:  Table [dbo].[CardTable]    Script Date: 27/03/2021 11:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardTable](
	[IdCard] [int] IDENTITY(1,1) NOT NULL,
	[IdTipCard] [int] NOT NULL,
	[ValoareCard] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_CardTable] PRIMARY KEY CLUSTERED 
(
	[IdCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheltuieliTable]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheltuieliTable](
	[IdCheltuieli] [int] IDENTITY(1,1) NOT NULL,
	[ValoareCheltuiala] [int] NOT NULL,
	[DataTimp] [datetime] NOT NULL,
	[IdTipCheltuieli] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_CheltuieliTable] PRIMARY KEY CLUSTERED 
(
	[IdCheltuieli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EconomiiTable]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EconomiiTable](
	[IdEconomii] [int] IDENTITY(1,1) NOT NULL,
	[DenumireEconomie] [nvarchar](256) NOT NULL,
	[ValoareEconomie] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_EconomiiTable] PRIMARY KEY CLUSTERED 
(
	[IdEconomii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumerarTable]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumerarTable](
	[IdNumerar] [int] IDENTITY(1,1) NOT NULL,
	[ValoareNumerar] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_NumerarTable] PRIMARY KEY CLUSTERED 
(
	[IdNumerar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipCard]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipCard](
	[IdTipCard] [int] IDENTITY(1,1) NOT NULL,
	[DenumireCard] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TipCard] PRIMARY KEY CLUSTERED 
(
	[IdTipCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipCheltuieli]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipCheltuieli](
	[IdTipCheltuieli] [int] IDENTITY(1,1) NOT NULL,
	[DenumireCheltuieli] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TipCheltuieli] PRIMARY KEY CLUSTERED 
(
	[IdTipCheltuieli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipUser]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipUser](
	[IdTipUser] [int] IDENTITY(1,1) NOT NULL,
	[DenumireTipUser] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TipUser] PRIMARY KEY CLUSTERED 
(
	[IdTipUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 27/03/2021 11:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](256) NOT NULL,
	[Prenume] [nvarchar](256) NOT NULL,
	[Parola] [nvarchar](50) NOT NULL,
	[IdTipUser] [int] NOT NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardTable]  WITH CHECK ADD  CONSTRAINT [FK_CardTable_TipCard] FOREIGN KEY([IdTipCard])
REFERENCES [dbo].[TipCard] ([IdTipCard])
GO
ALTER TABLE [dbo].[CardTable] CHECK CONSTRAINT [FK_CardTable_TipCard]
GO
ALTER TABLE [dbo].[CardTable]  WITH CHECK ADD  CONSTRAINT [FK_CardTable_UserList] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserList] ([IdUser])
GO
ALTER TABLE [dbo].[CardTable] CHECK CONSTRAINT [FK_CardTable_UserList]
GO
ALTER TABLE [dbo].[CheltuieliTable]  WITH CHECK ADD  CONSTRAINT [FK_CheltuieliTable_TipCheltuieli] FOREIGN KEY([IdTipCheltuieli])
REFERENCES [dbo].[TipCheltuieli] ([IdTipCheltuieli])
GO
ALTER TABLE [dbo].[CheltuieliTable] CHECK CONSTRAINT [FK_CheltuieliTable_TipCheltuieli]
GO
ALTER TABLE [dbo].[CheltuieliTable]  WITH CHECK ADD  CONSTRAINT [FK_CheltuieliTable_UserList] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserList] ([IdUser])
GO
ALTER TABLE [dbo].[CheltuieliTable] CHECK CONSTRAINT [FK_CheltuieliTable_UserList]
GO
ALTER TABLE [dbo].[EconomiiTable]  WITH CHECK ADD  CONSTRAINT [FK_EconomiiTable_UserList] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserList] ([IdUser])
GO
ALTER TABLE [dbo].[EconomiiTable] CHECK CONSTRAINT [FK_EconomiiTable_UserList]
GO
ALTER TABLE [dbo].[NumerarTable]  WITH CHECK ADD  CONSTRAINT [FK_NumerarTable_UserList] FOREIGN KEY([IdUser])
REFERENCES [dbo].[UserList] ([IdUser])
GO
ALTER TABLE [dbo].[NumerarTable] CHECK CONSTRAINT [FK_NumerarTable_UserList]
GO
ALTER TABLE [dbo].[UserList]  WITH CHECK ADD  CONSTRAINT [FK_UserList_TipUser] FOREIGN KEY([IdTipUser])
REFERENCES [dbo].[TipUser] ([IdTipUser])
GO
ALTER TABLE [dbo].[UserList] CHECK CONSTRAINT [FK_UserList_TipUser]
GO
USE [master]
GO
